@{
    ViewBag.Title = "Report Editor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="mainContainer">
    <div id="pqDbGrid"></div>
    <div id="dlgEditProfile" style="display: none; padding:10px; margin:auto" title="Edit Entry">
        <ul>
            <li id="firstLastName"></li>
            <li>
                <label for="ethnicity">Ethnicity: </label>
                <select id="ethnicity"></select>
            </li>
        </ul>
        
        
        
    </div>
</div>