@{
    ViewBag.Title = "Reports Editor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="mainContainer">
    <div class="row">
        <div class="col-sm-2">
            <label for="txtSearch">Search Employees:</label>
        </div>
        <div class="col-sm-4">
            <input type="text" class="input-sm" id="txtSearch" />
        </div>
        @*<div class="col-sm-4"></div>*@
        <div class="col-sm-2">
            <a id="btnSearch" role="button" class="btn btn-primary">Search</a>
        </div>
    </div>
    <br />
    <div id="pqDbGrid"></div>
    <div id="dlgEditProfile" style="display: none; padding:10px; margin:auto" title="Edit Entry">
        <div id="firstLastName"></div>
        <br />
        <label for="ethnicity">Ethnicity: </label>
        <select id="ethnicity" class="pull-right"></select>
        <label for="title">Job Title: </label>
        <select id="title" class="pull-right"></select>
        <label for="category">Job Category</label>
        <select id="category" class="pull-right"></select>
    </div>
</div>